body{
	background-color: #5CACEE;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#cabecalho {
	width: 910px;
	height: 100px;
	border: 5px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 10px #888888;
}

#cabecalho h1 {
	text-align: center;
}

#container{
	width: 910px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 5px solid black;
	border-radius: 10px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
}

#r{
	height: 300px;
	width: 600px;
	border: 1px dashed black;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

input{
	margin-top: 4px;
}

h5{
    color: green;
}

.distancia-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.distancia{
	align-items: center;
	display: none;
	margin: 5px;
}


.fas{
	font-size: 30px;
	color: gray;
	filter: drop-shadow(1px 1px black);
}

#distancia{
	color: green;
	padding-top: 80px;
	display: flex;
}

